*{box-sizing:border-box;}
.left-sidebar{display:flex;
width:auto;}
.leftsidebar-container{display:flex;
flex-direction:column;
}
.submenu{
    padding:10px;
}
.submenu:hover{background:rgb(204, 202, 202);
border-radius:6px;}
.shortcuts a{display:flex;
flex-direction:column;
padding:10px;}
.shortcuts a:hover{background:rgb(207, 207, 207);
border-radius:6px;}