*{box-sizing:border-box;}
.left-sidebar{display:flex;
width:auto;}
.leftsidebar-container{display:flex;
flex-direction:column;
}
.submenu{
    padding:10px;
}
.submenu:hover{background:rgba(219, 214, 214, 0.226);
border-radius:6px;}
.shortcuts{
    padding:13px;

}
.shortcuts:hover{
    background:rgb(161, 161, 161);
}