*{margin:0;
box-sizing: border-box;}
.container{display:flex;
    flex-direction:column;
     background:#ddd;
    align-items:center;

min-height:100vh;
}
.Logincard{
    margin:200px;
    padding:40px;
    align-items:center;
    background:#eee;
    display:flex;
    justify-content:center;
    flex-direction:column;
    border-radius:6px;
    box-shadow:2px 5px 4px 3px rgb(78, 70, 70)
}
.fb-icon{height:150px;
   width:140px;
    color:#2e9ee9;
   
    
}
.btnSignin{
background: #2e9ee9;
color:#fff;
margin-top:100px;
padding:10px;
border-radius:6px;
width:200px;
border:none;
outline:none;}
.btnSignin:hover{color:#2e9ee9;
background:#fff;}